body{
	margin:0px;
	padding:0px;
	background:#FFF;
	font-size:14px;
	font-family:"Lucida Grande",Arial,Helvetica,Verdana,sans-serif,"Hiragino Sans GB";
	line-height:150%
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td{
	margin:0;padding:0
}
input,select{
	vertical-align:baseline}

textarea{
	font-family:"Lucida Grande",Arial,Helvetica,Verdana,sans-serif}

input[type=text],input[type=password],textarea{
	background:#fff;color:#000;font-size:14px
}

label{cursor:pointer}

table{border-collapse:collapse;border-spacing:0;font-size:100%}

fieldset,img{border:0}

address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}

strong{font-weight:bold;font-style:normal}

em{font-weight:normal;font-style:italic}

ul{list-style:none}

abbr{border-bottom:1px dashed #000;}

small{-webkit-text-size-adjust:none;text-size-adjust:none}
p{margin:5px 10px 5px 15px;}
q::before,q::after{content:""}

.clear{clear:both;}
.clearit:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearit{zoom:1}
.rr{float:right}
.ll{float:left}

::-moz-focus-inner{border:none;padding:0}
a:link,a:active,a:visited{text-decoration:none;color:#444}
a:hover{text-decoration:none;color:#02A3FB}

#wrapper{
	background: transparent url('bg_header_v2.png') repeat-x;
}

#header{
	line-height: 100%;
	height: 50px;
	background: transparent url('bg_musume_v3.png') no-repeat right;
}

#header .title{
	line-height: 2em;
	font-size:1.8em;
	padding:0 15px 0 15px;
}

#wrapper-inner{
	padding:0 50px 0 50px;
}

h3{
	font-size:1.5em;
}

h3{
	margin-top:30px;
	padding:5px 0 5px 10px;
	border-left:5px solid #F09199;
}
#footer{
	margin-top:30px;
	padding:5px 10px 5px 0;
	border-right:5px solid #F09199;
	position:fixed;
	bottom:15px;
	right:15px;
}
#footer p{ margin:0; }


form{
	margin:20px;
}

form label{
	float: left;
	width: 140px;
	text-align: right;
}
form.login{
	width:800px;
}

form.login input[type=text],form.login input[type=password]{
	padding:2px 5px 2px 5px;
	border: 1px solid #F19299;
	background: rgba(255,255,255,0.8);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,0.3), 0px 0 2px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,0.3), 0px 0 2px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3) inset, 0px 1px 0 rgba(255,255,255,0.3);
	line-height:1.6em;
	
	width:300px;
}
.userbox, .clearbox{
	border: 1px solid #DDD;
	background: #FCFCFC;
	padding: 5px 10px;
	font-size: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 4px #EAEAEA, inset 0 1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow: 0px 0px 4px #EAEAEA, inset 0 1px 1px rgba(255,255,255,0.3);
	box-shadow: 0px 0px 4px #EAEAEA, inset 0 1px 1px rgba(255,255,255,0.3);	
}
.clearbox{
	margin:0 0 10px 15px;
	min-width:200px;
	float:left;
}
.userbox{
	min-width:200px;
	margin:5px 20px 15px 0px;
}
.avatar{
	width:64px;
	height:64px;
}
img.b-icon{
	width:40px;height:40px; 
}

.img-wrap{
	margin-right:5px;
	padding-left:5px;
	border-left:5px solid #F09199;
	clear:both;
}
.avatar.pad{
	margin-right:15px;
}
div.control-group{
	margin-bottom: 18px;
}
