body {
	font-size: 12px;
	color: #333;
	font-family: "Microsoft Yahei",Arial,Helvetica,Verdana,sans-serif;
	margin:0;
	padding:3px;
}

.navbar-inner {
	min-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-inner a{
	text-decoration:none;
	color:#fff;
}

.navbar{
	display:block;
	position:relative;
}

.nav {
	list-style: none;
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.nav > li {
	display: block;
	float: left;
}

.nav > li > a {
	float: none;
	margin-right:10px;
	padding: 7px 8px 6px;
	display:block;
	line-height: 16px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}

.nav > li > a.selected, .nav > li > a.selected:hover{
	background-color: #555;
	color:#fff;
}

.nav > li > a:hover {
	background-color: #333;
	color:#fff;
}

.container-fluid::before, .container-fluid::after {
	display: table;
	content: "";
}

.container-fluid::after {
	clear: both;
}

.wrapper{
	width:320px;
	min-height:50px;
	padding:0;
}
#output{
	max-height:380px;
	overflow:auto;
}
.scr::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
}
.scr::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	background-clip: padding-box;
	border: solid transparent;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	border-width: 1px 1px 1px 6px;
}
.scr::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
.scr::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px;
}
.scr::-webkit-scrollbar-corner {
	background: transparent;
}

.selectable {
	display:block;
	clear:both;
	min-height:30px;
	padding: 0px;
	cursor:default;
    user-select: none;
	border:1px dashed #c3c3c3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.selectable:hover {
	border:1px solid #333;
}

.progress {
  height: 16px;
  margin-top:2px;
  max-width:240px;
  overflow: hidden;
  background-color: #f7f7f7;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
  cursor:default;
  user-select: none;
  -webkit-user-select: none;
  width: 0;
  float: left;
  height: 18px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(top, #149bdf, #0480be);
  background-image: -ms-linear-gradient(top, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
      -ms-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
}

.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
}
.progress .bar:hover{
	background:#2eb0e2;
}
.progress .bar-success:hover{
	background:#7ed97e;
}
.progress .bar-warning:hover{
	background:#ffc040;
}
.opt{
	margin:6px 0 3px;
}

h2{
	font-size: 14px;
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	border-bottom:1px solid #000;
	width:320px;
}

a{
	outline: 0;
	text-decoration: none;
}
a.redlink{
	color:#f00;
}


img.preview{
	height:40px;
	width:53px;
	float:left;
	margin:1px 8px 1px 3px;
	-moz-box-shadow: 1 1 3px #fff;
	-webkit-box-shadow: 1 1 3px #fff;
	box-shadow: 1px 1px 3px #fff;
	border:1px solid #ccc;
}

.listLink{
	max-width:230px;
	overflow:hidden;
	float:left;
	-moz-transition: all .5s linear;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	color: #0187C5;
}

.listLink:hover, a:hover .listLink{
	color: #FF45B2;
}

.listElem:hover{
	background: #eeeeff;
}
.listElem{
	background:#fff;
	border:1px solid #fff;
	text-align:left;
}
.views{
	color: #F93;
	font-style:italic;
}
.infobox{
	float:left;width:230px;
}
.author{
	color: #60B7EF;
}
.clear{
	clear:both;
}

.rfl{float:right;}
.sp10{margin-left:5px;}

.topalso{border-top:1px solid #000; padding-top:5px;margin-top:5px;}
.counter{padding-right:5px;font-weight:normal;font-size:12px;}
